{% extends 'djobberbase/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load djobberbase_tags %}

{% block content %}

    <div class="row">
    	<ul class="list-unstyled">
        {% get_categories %}

            {% for category in categories %}

			<li id="{{ category.name_slug }}" class="list-group-item col-md-4 col-sm-6">
                <a class="category-link" href="{{category.get_absolute_url}}" title="{{ category }}">
                <h4 class="category-text">{{ category }} ({{category.jobs__count}}) </h4>
                </a>
            </li>

            {% endfor %}

    	</ul>
	</div><!-- #categs-nav -->

    <hr>

    <div class="row">
    	<ul class="list-unstyled">
        {% get_companies %}

            {% for company in companies %}

			<li id="{{ company.admin }}" class="list-group-item col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img class="img-responsive company_logo" src="{{company.logo.url}}" onerror="/*this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=';*/"/>
                    <a class="company-link" href="{{company.get_absolute_url}}" title="{{ company }}">
                        <h4 class="company-text">{{ company }} ({{company.jobs__count}}) </h4>
                    </a>
                </div>
            </li>

            {% endfor %}
    	</ul>
	</div>

{% endblock %}