{% extends "djobberbase/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load djobberbase_tags %}

{% block content %}
    {% if page_type == 'index' %}

        {% get_spotlight_jobs 5 as spotlight_jobs %}
            {% if spotlight_jobs %}
                {% include 'djobberbase/partials/render_jobs.html' with jobs=spotlight_jobs jobs_title='Spotlight Jobs' %}
            {% endif %}

        {% get_latest_jobs 10 as latest_jobs %}
            {% if latest_jobs %}
                {% include 'djobberbase/partials/render_jobs.html' with jobs=latest_jobs jobs_title='Most recent job offers' %}

                {% if latest_jobs.count > 0 %}
                <div id="view_all">
                    <a href="{% url 'djobberbase:job_list_all' %}">{% trans 'View all' %} »</a>
                </div>
                {% endif %}

            {% endif %}

    {% else %}
        {% if selected_category or selected_jobtype %}
            <div id="sort-by-type">
            {% trans 'Only display' %}&nbsp;
            {% get_jobtypes %}
            {% for jobtype in jobtypes %}
                <a href="{% url 'djobberbase:job_list_all' categories=selected_category.slug jobtype=jobtype.slug %}" title="{{jobtype}}">
                    <img src="{% static 'img/icon-{{jobtype.var_name}}.png' %}" alt="{{jobtype}}">
                </a>
            {% endfor %}
            </div>
            <h2>{% trans 'Jobs in' %} {{ selected_category }} </h2>
        {% else %}
            {% if keywords %}
                <h2>{{ length }} {% trans 'Search results found for:' %} '{{ keywords }}'</h2>
            {% else %}
                <h2>{% trans 'All jobs' %}</h2>
            {% endif %}
        {% endif %}
        {% include 'djobberbase/partials/render_jobs.html' with jobs=object_list jobs_title='' %}

        {% if is_paginated %}{% load bootstrap_pagination %}{% bootstrap_paginate page_obj range=10 %}{% endif %}

    {% endif %}

{% endblock %}
